/*font-family: 'Lato', sans-serif;*/
body{
	font-family: 'Lato', sans-serif;
	color: #747704;
	font-weight: 300;
}

hr{
	border-top: 5px solid #eeeeee;
}

img, embed, object, video{
	max-width: 100%;
}

/*Needs adjustment
@media screen and (min-width: 800px)
{
	.feature1{
		max-width: 50%;
	}
	.feature2{
		max-width: 50%;
	}
}

@media screen and (min-width: 1000px)
{
	.feature1{
		max-width: 100%;
	}
	.feature2{
		max-width: 100%;
	}
}
*/
.text-muted{
	color: #BCBBBB;
}

.text-thin{
	font-weight: 100;
}

.text-super{
	font-size: 60px;
}

.title-logo{
	margin-top: 20px;
}

